* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: lightgray;

}

body {
    font-weight: 700;
    text-align: justify;
}

h1 {
    font-weight: 500;
    font-size: 4rem;
}

nav {

    height: 70px;
    background-color: #001C30;
    padding-right: 30px;
    padding-left: 10px;
    background-image: url("images/background-stars.svg");
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: auto;
    width: 30px;
    vertical-align: middle;
}

.image {
    height: 450px;
    width: auto;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 20px;
    text-decoration: none;
    font-size: small;
    color: lightgray;
    flex: 1;
}

.nav-item a:hover {
    color: white;
}

.logo a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.general-info {
    display: flex;
    padding: 50px;
    background-color: #001C30;
    background-image: url("images/background-stars.svg");
    font-weight: 300;

}

.planet-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    margin: 50px;
    font-weight: 600;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.planet-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    margin: 20px;
}

button {
    background-color: #001C30;
    border: 1px solid rgba(100, 100, 100, 0.5);
    padding: 10px 20px;
    text-align: left;
    font-weight: 600;
}

button:hover {
    background-color: #6527BE;
    border: 1px solid #6527BE;
}

.numbers-info {
    display: flex;
    padding: 50px;
    background-color: #001C30;
    background-image: url("images/background-stars.svg");
    font-weight: 300;
    justify-content: space-around;
    padding: 50px;
}

.rotation,
.revolution,
.radius,
.avg-temp {
    border: 1px solid rgba(100, 100, 100, 0.5);
    display: inline-block;
    padding: 1em 5em;
    margin: 20px;
    text-align: left;
}